# React when an qeth device has been added
# %p is the device-path, e.g. /devices/qeth/0.0.0001/net/enc1
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="qeth", RUN+="/usr/bin/setmac.sh %p"
