# React when an qeth devices has been grouped.
# %b is the device-bus-id, e.g. 0.0.0001
SUBSYSTEMS=="ccwgroup", ACTION=="add", ATTR{addr_assign_type}=="0", RUN+="/usr/bin/setmac.sh %b"